
/*  FONTS */
p {
  /* font-family: "Nunito", "sans-serif"; */
  font-family: 'Work Sans',sans-serif;
}

h1 {
  font-family: "GFS Didot", "serif";
}

h2 {
  font-family: "GFS Didot", "serif";
  font-weight: bold;
}


/*  NAVBAR  */

.navbar-bach {
  justify-content: space-around;
  background: white;
}

.navbar-bach .navbar-collapse {
  flex-grow: 0;
}

.navbar-bach .navbar-brand img {
  width: 160px;
}


/*  HEADER */

.banner {
  height: 500px;
  width: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  background-image: url("/images/bach-exp-2.png");
}

.text-banner {
  color: white;
  text-align: center;
  background-color: #f2bb16e5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


/*  BUTTONS */
button,
button::after {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  font-family: "GFS Didot", "serif";
  background: linear-gradient(45deg, transparent 5%, #F2441D 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #f2bb16;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #8CA653 3%, #8CA653 5%, #F2441D 5%);
  text-shadow: -3px -3px 0px #f2bb16, 3px 3px 0px #8CA653;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}


/* CARD CATEGORY */
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


/* SECTION INFOS */

.section-bach-exp {
  background-color: white;
  padding: 20px;
}

.value-prop {
  background-color: #F2EAD0;
}

/* ICON */

i {
  font-size: 30px;
  color: #F2441D;
}


/* FOOTER */
footer em {
  color: #ffc371;
  font-weight: bold;
}


.form-control::placeholder {
  font-size: 0.95rem;
  color: #f2bb16;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}


.end-footer {
  background-color: #f2bb16;
  color: white !important;

  ;
}

.fab {
  color: white;
}
